body
{
  margin: 20px;
  font-family: verdana;
}
.resaltado
{
  background-color: yellow;
  color: black;
}
#menu-principal
{
  padding: 10px 0px;
}
h1.titulo
{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
footer
{
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
}
